.page-header {
    background-color: #275d9c;
}

.back-link {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1.2rem 1.5rem;
    text-decoration: none;
}

.back-link a {
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}