[Unit]
Description=Hubble Enterprise updater
Requires=github-enterprise.target
After=github-enterprise.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/autodesk/hubble-enterprise/update-stats.py
WorkingDirectory=/opt/autodesk/hubble-enterprise/
User=admin
Group=admin

[Install]
WantedBy=github-enterprise.target
